/* Reset default margin and padding */
body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
    height: 100%;
   
}


/* Background video styling */
.video-background {
    position: fixed;
    top: 0;
    backdrop-filter: blur(9px);
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     /* Adjust blur intensity */
    z-index: -1; /* Keeps the video in the background */
}
.container{
    display:flex;
    margin: auto;
    backdrop-filter: blur(1opx);
    flex-direction: column;
    min-height: 100vh;
    clip-path: inset(0,10%,0,10%);
    width:1550px;
    justify-content: center;
    align-items: center;
    position:static;
    color: white;
    background:rgba(255, 225, 225, 0.1) ;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    border:1px solid rgba(255, 255, 255, 0.3);
}

/* Main content styling */
.content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top:0px;
    backdrop-filter: blur(1px);
    opacity: 5px;
    min-height: 80px;
    width: calc(100% - 200px); /* Trims 100px from left and right */
    max-width: 800px;
    clip-path: inset(0,10%,0,10%);
    background:rgba(255, 225, 225, 0.1) ;
    margin-bottom: 40px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    border:1px solid rgba(255, 255, 255, 0.3);
    
   /* Optional overlay for better text readability */
}

h1{
    color: rgb(6, 6, 6);
    font-size: 5rem;
    font-family: 'ArcadeClassic', sans-serif;
    margin: 10px 0;
    
}

p{
    position: relative;
    align-items: center;
    font-family: 'ArcadeClassic', sans-serif;
    color:rgb(21, 21, 21);
    word-spacing:1px;    
    font-size: 1rem;
    margin: 10px 0;
}

h2{
    font-size:3rem;
    color:rgb(0, 0, 0);
    font-family: 'ArcadeClassic', sans-serif;
    margin: 10px 0;
    
}
p{
    color:rgb(183, 177, 177);
    font-size: x-large;
    
}
h3{
    font-size:3rem;
    color:rgb(0, 0, 0);
    font-family: 'ArcadeClassic', sans-serif;
    margin: 10px 0; 
}
button {
    position: relative;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(33, 33, 33);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter:blur(5px) ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px; /* Adds space above button */
    z-index: 2; /* Ensures it appears above */
    transition: background 0.3s ease-in-out, transform 0.2s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px red, 0 0 40px blue, 0 0 60px green;
    background-color: rgb(114, 114, 120);
}
button:active{
    transform: translateY(2px); /* Moves down slightly */
    box-shadow: 0 0 10px grey;
}
button.content{
    width:60%;
    max-width:700px;
}
